<% @customers.each do  | c |  %>
    <p>Nome: <strong><%= c.name  %></strong></p>
    <p>Email: <strong><%= c.email  %></strong></p>
    <p>Telefone: <strong><%= c.tel  %></strong></p>
    <p>Code: <strong><%= c.code  %></strong></p>
    <p>Assunto: <strong><%= c.subject  %></strong></p>
<% end %>